# Assignment 06 - Using Pandas
### Uses pandas and functions to "web scrape" to collect data

### 1. Use Pandas read_html() function to retrieve the HTML tables as dataframes from the web page:

In [1]:
import pandas as pd

### 2. Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contains the data and use it for further processing.

In [2]:
df_list = pd.read_html("https://www.genealogybranches.com/censuscosts.html")
len(df_list)

2

### Note: In terms of the number of observations, there are 23.

### 3. - 4. Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [3]:
df1 = df_list[0]
df1.head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [4]:
df2 = df_list[1]
df2.head()

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

In [5]:
df1

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

In [6]:
df1.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [7]:
first_row = df1.iloc[0]
first_row

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

### From all this we can see that the first row repeats the headings:

In [8]:
df1.columns = first_row
df1.head()

0  Census Year  Total Population  Census Cost  Average Cost Per Person
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

### We take care of this problem:

In [9]:
df1.drop([0], inplace=True)
df1

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23       2010*        308745538     $13 Billion                  $42.11

### 5. Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, *"1989**",* "20*10")

In [10]:
def cleanse_year(raw_year):
    year = raw_year.replace("*","")
    return year

### Test the function by using test strings:

In [11]:
print(cleanse_year("1989*"))
print(cleanse_year("20*10"))

1989
2010

### 6. Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

In [12]:
df1["Cleansed Year"] = df1["Census Year"].apply(cleanse_year)
df1

,Census Year,Total Population,Census Cost,Average Cost Per Person,Cleansed Year
1,1790,3929214,"$44,377",1.13 cents,1790
2,1800,5308483,"$66,109",1.24 cents,1800
3,1810,7239881,"$178,445",2.46 cents,1810
4,1820,9633822,"$208,526",2.16 cents,1820
5,1830,12866020,"$378,545",2.94 cents,1830
6,1840,17069458,"$833,371",4.88 cents,1840
7,1850,23191876,"$1,423,351",6.14 cents,1850
8,1860,31443321,"$1,969,377",6.26 cents,1860
9,1870,38558371,"$3,421,198",8.87 cents,1870
10,1880,50155783,"$5,790,678",11.54 cents,1880
11,1890,62979766,"$11,547,127",18.33 cents,1890
12,1900,76303387,"$11,854,000",15.54 cents,1900
13,1910,91972266,"$15,968,000",17.07 cents,1910
14,1920,105710620,"$25,117,000",23.76 cents,1920
15,1930,122775046,"$40,156,000",32.71 cents,1930
16,1940,131669275,"$67,527,000",51.29 cents,1940
17,1950,151325798,"$91,462,000",60.44 cents,1950
18,1960,179323175,"$127,934,000",71.34 cents,1960
19,1970,203302031,"$247,653,000",$1.22,1970
20,1980,226542199,"$1,078,488,000",$4.76,1980
21,1990,248718301,"$2,492,830,000",$10.02,1990
22,2000,281421906,$4.5 Billion,$15.99,2000
23,2010*,308745538,$13 Billion,$42.11,2010

### 7. Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)

##### Total Population: remove the commas since python doesn't recognize them. 
##### Note: in this html file, Total Population is technically already cleansed, it already doesn't have commas. But if there were, this is how we would proceed:

In [13]:
def cleanse_pop(raw_pop):
    pop = raw_pop.replace(",","")
    return pop

##### test this method using some test strings...

In [14]:
print(cleanse_pop("300,000,000"))
print(cleanse_pop("1,000,000,000"))

300000000
1000000000

##### now apply this method to Total Population

In [15]:
df1["Cleansed Population"] = df1["Total Population"].apply(cleanse_pop)
df1

,Census Year,Total Population,Census Cost,Average Cost Per Person,Cleansed Year,Cleansed Population
1,1790,3929214,"$44,377",1.13 cents,1790,3929214
2,1800,5308483,"$66,109",1.24 cents,1800,5308483
3,1810,7239881,"$178,445",2.46 cents,1810,7239881
4,1820,9633822,"$208,526",2.16 cents,1820,9633822
5,1830,12866020,"$378,545",2.94 cents,1830,12866020
6,1840,17069458,"$833,371",4.88 cents,1840,17069458
7,1850,23191876,"$1,423,351",6.14 cents,1850,23191876
8,1860,31443321,"$1,969,377",6.26 cents,1860,31443321
9,1870,38558371,"$3,421,198",8.87 cents,1870,38558371
10,1880,50155783,"$5,790,678",11.54 cents,1880,50155783
11,1890,62979766,"$11,547,127",18.33 cents,1890,62979766
12,1900,76303387,"$11,854,000",15.54 cents,1900,76303387
13,1910,91972266,"$15,968,000",17.07 cents,1910,91972266
14,1920,105710620,"$25,117,000",23.76 cents,1920,105710620
15,1930,122775046,"$40,156,000",32.71 cents,1930,122775046
16,1940,131669275,"$67,527,000",51.29 cents,1940,131669275
17,1950,151325798,"$91,462,000",60.44 cents,1950,151325798
18,1960,179323175,"$127,934,000",71.34 cents,1960,179323175
19,1970,203302031,"$247,653,000",$1.22,1970,203302031
20,1980,226542199,"$1,078,488,000",$4.76,1980,226542199
21,1990,248718301,"$2,492,830,000",$10.02,1990,248718301
22,2000,281421906,$4.5 Billion,$15.99,2000,281421906
23,2010*,308745538,$13 Billion,$42.11,2010,308745538

##### Census Cost: Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion".

In [16]:
def cleanse_cost(raw_cost):
    cost = raw_cost.lstrip("$").replace(",","")
    if  raw_cost.find("4.5") != -1:          # if "4.5" in raw_cost:
        cost = "45" + "0" * 8
    elif raw_cost.find("Billion") != -1:     # elif "Billion" in raw_cost: 
        cost = "13" + "0" * 9
    return cost

##### test this method using some test strings...

In [17]:
print(cleanse_cost("$$$$100,000 Billion"))
print(cleanse_cost("$40,000"))

13000000000
40000

##### now apply this method to Census Cost

In [18]:
df1["Cleansed Cost"] = df1["Census Cost"].apply(cleanse_cost)
df1

,Census Year,Total Population,Census Cost,Average Cost Per Person,Cleansed Year,Cleansed Population,Cleansed Cost
1,1790,3929214,"$44,377",1.13 cents,1790,3929214,44377
2,1800,5308483,"$66,109",1.24 cents,1800,5308483,66109
3,1810,7239881,"$178,445",2.46 cents,1810,7239881,178445
4,1820,9633822,"$208,526",2.16 cents,1820,9633822,208526
5,1830,12866020,"$378,545",2.94 cents,1830,12866020,378545
6,1840,17069458,"$833,371",4.88 cents,1840,17069458,833371
7,1850,23191876,"$1,423,351",6.14 cents,1850,23191876,1423351
8,1860,31443321,"$1,969,377",6.26 cents,1860,31443321,1969377
9,1870,38558371,"$3,421,198",8.87 cents,1870,38558371,3421198
10,1880,50155783,"$5,790,678",11.54 cents,1880,50155783,5790678
11,1890,62979766,"$11,547,127",18.33 cents,1890,62979766,11547127
12,1900,76303387,"$11,854,000",15.54 cents,1900,76303387,11854000
13,1910,91972266,"$15,968,000",17.07 cents,1910,91972266,15968000
14,1920,105710620,"$25,117,000",23.76 cents,1920,105710620,25117000
15,1930,122775046,"$40,156,000",32.71 cents,1930,122775046,40156000
16,1940,131669275,"$67,527,000",51.29 cents,1940,131669275,67527000
17,1950,151325798,"$91,462,000",60.44 cents,1950,151325798,91462000
18,1960,179323175,"$127,934,000",71.34 cents,1960,179323175,127934000
19,1970,203302031,"$247,653,000",$1.22,1970,203302031,247653000
20,1980,226542199,"$1,078,488,000",$4.76,1980,226542199,1078488000
21,1990,248718301,"$2,492,830,000",$10.02,1990,248718301,2492830000
22,2000,281421906,$4.5 Billion,$15.99,2000,281421906,4500000000
23,2010*,308745538,$13 Billion,$42.11,2010,308745538,13000000000

##### Average Cost Per Person: Remove the "cents", and "$". 
##### Important: Make sure to convert cents to dollars. To do this, divide the number by 100.

In [19]:
def cleanse_person(raw_person):
    if ("cents" in raw_person):
        person = raw_person.strip("cents")
        person = float(person) 
        person = person / 100
    else:
        person = raw_person.strip("$")
    return person

##### test the method on some test strings...

In [20]:
print(cleanse_person("956 cents"))
print(cleanse_person("$78.89"))
print(cleanse_person("198.13 cents"))

9.56
78.89
1.9813

##### now apply this method to the Average Cost Per Person

In [21]:
df1["Cleansed Average Cost Per Person"] = df1["Average Cost Per Person"].apply(cleanse_person)
df1

,Census Year,Total Population,Census Cost,Average Cost Per Person,Cleansed Year,Cleansed Population,Cleansed Cost,Cleansed Average Cost Per Person
1,1790,3929214,"$44,377",1.13 cents,1790,3929214,44377,0.0113
2,1800,5308483,"$66,109",1.24 cents,1800,5308483,66109,0.0124
3,1810,7239881,"$178,445",2.46 cents,1810,7239881,178445,0.0246
4,1820,9633822,"$208,526",2.16 cents,1820,9633822,208526,0.0216
5,1830,12866020,"$378,545",2.94 cents,1830,12866020,378545,0.0294
6,1840,17069458,"$833,371",4.88 cents,1840,17069458,833371,0.0488
7,1850,23191876,"$1,423,351",6.14 cents,1850,23191876,1423351,0.0614
8,1860,31443321,"$1,969,377",6.26 cents,1860,31443321,1969377,0.0626
9,1870,38558371,"$3,421,198",8.87 cents,1870,38558371,3421198,0.0887
10,1880,50155783,"$5,790,678",11.54 cents,1880,50155783,5790678,0.1154
11,1890,62979766,"$11,547,127",18.33 cents,1890,62979766,11547127,0.1833
12,1900,76303387,"$11,854,000",15.54 cents,1900,76303387,11854000,0.1554
13,1910,91972266,"$15,968,000",17.07 cents,1910,91972266,15968000,0.1707
14,1920,105710620,"$25,117,000",23.76 cents,1920,105710620,25117000,0.2376
15,1930,122775046,"$40,156,000",32.71 cents,1930,122775046,40156000,0.3271
16,1940,131669275,"$67,527,000",51.29 cents,1940,131669275,67527000,0.5129
17,1950,151325798,"$91,462,000",60.44 cents,1950,151325798,91462000,0.6044
18,1960,179323175,"$127,934,000",71.34 cents,1960,179323175,127934000,0.7134
19,1970,203302031,"$247,653,000",$1.22,1970,203302031,247653000,1.22
20,1980,226542199,"$1,078,488,000",$4.76,1980,226542199,1078488000,4.76
21,1990,248718301,"$2,492,830,000",$10.02,1990,248718301,2492830000,10.02
22,2000,281421906,$4.5 Billion,$15.99,2000,281421906,4500000000,15.99
23,2010*,308745538,$13 Billion,$42.11,2010,308745538,13000000000,42.11

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 1 to 23
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Census Year                       23 non-null     object
 1   Total Population                  23 non-null     object
 2   Census Cost                       23 non-null     object
 3   Average Cost Per Person           23 non-null     object
 4   Cleansed Year                     23 non-null     object
 5   Cleansed Population               23 non-null     object
 6   Cleansed Cost                     23 non-null     object
 7   Cleansed Average Cost Per Person  23 non-null     object
dtypes: object(8)
memory usage: 1.6+ KB

### 8. After all columns are cleansed, save the cleansed dataframe to a file named "census_cost_cleansed.csv" using CSV format.

##### First, we must drop the original dataframes from df1.
##### We will retain the original, df1, so we will save our changes to df2:

In [23]:
df2 = df1.drop(columns=["Census Year", "Census Cost", "Total Population", "Average Cost Per Person"])
df2

,Cleansed Year,Cleansed Population,Cleansed Cost,Cleansed Average Cost Per Person
1,1790,3929214,44377,0.0113
2,1800,5308483,66109,0.0124
3,1810,7239881,178445,0.0246
4,1820,9633822,208526,0.0216
5,1830,12866020,378545,0.0294
6,1840,17069458,833371,0.0488
7,1850,23191876,1423351,0.0614
8,1860,31443321,1969377,0.0626
9,1870,38558371,3421198,0.0887
10,1880,50155783,5790678,0.1154
11,1890,62979766,11547127,0.1833
12,1900,76303387,11854000,0.1554
13,1910,91972266,15968000,0.1707
14,1920,105710620,25117000,0.2376
15,1930,122775046,40156000,0.3271
16,1940,131669275,67527000,0.5129
17,1950,151325798,91462000,0.6044
18,1960,179323175,127934000,0.7134
19,1970,203302031,247653000,1.22
20,1980,226542199,1078488000,4.76
21,1990,248718301,2492830000,10.02
22,2000,281421906,4500000000,15.99
23,2010,308745538,13000000000,42.11

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 1 to 23
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Cleansed Year                     23 non-null     object
 1   Cleansed Population               23 non-null     object
 2   Cleansed Cost                     23 non-null     object
 3   Cleansed Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 920.0+ bytes

In [25]:
#save df2 to a new csv file named "census_cost_cleansed.csv"
# write a pandas dataframe to csv file
df2.to_csv("census_cost_cleansed.csv")

### 9. Use Pandas to read the saved cleansed file and explore it to make sure it is clean.

### When I read the csv file, I got a new column called "Unnamed: 0". 
### There are two ways to deal with this:
### - Rename the extra column with an appropriate title, like "Observation Number"
### - Drop the extra column

In [26]:
df = pd.read_csv("census_cost_cleansed.csv") #read csv file
df.info() #get some description about the file
df #display the cleansed file

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        23 non-null     int64
 1   Cleansed Year                     23 non-null     int64
 2   Cleansed Population               23 non-null     int64
 3   Cleansed Cost                     23 non-null     int64
 4   Cleansed Average Cost Per Person  23 non-null     float64
dtypes: float64(1), int64(4)
memory usage: 1.0 KB

,Unnamed: 0,Cleansed Year,Cleansed Population,Cleansed Cost,Cleansed Average Cost Per Person
0,1,1790,3929214,44377,0.0113
1,2,1800,5308483,66109,0.0124
2,3,1810,7239881,178445,0.0246
3,4,1820,9633822,208526,0.0216
4,5,1830,12866020,378545,0.0294
5,6,1840,17069458,833371,0.0488
6,7,1850,23191876,1423351,0.0614
7,8,1860,31443321,1969377,0.0626
8,9,1870,38558371,3421198,0.0887
9,10,1880,50155783,5790678,0.1154
10,11,1890,62979766,11547127,0.1833
11,12,1900,76303387,11854000,0.1554
12,13,1910,91972266,15968000,0.1707
13,14,1920,105710620,25117000,0.2376
14,15,1930,122775046,40156000,0.3271
15,16,1940,131669275,67527000,0.5129
16,17,1950,151325798,91462000,0.6044
17,18,1960,179323175,127934000,0.7134
18,19,1970,203302031,247653000,1.2200
19,20,1980,226542199,1078488000,4.7600
20,21,1990,248718301,2492830000,10.0200
21,22,2000,281421906,4500000000,15.9900
22,23,2010,308745538,13000000000,42.1100

### Renaming the extra column "Observation Number":

In [27]:
df.rename({"Unnamed: 0": "Observation Number"}, axis=1, inplace=True)
df

,Observation Number,Cleansed Year,Cleansed Population,Cleansed Cost,Cleansed Average Cost Per Person
0,1,1790,3929214,44377,0.0113
1,2,1800,5308483,66109,0.0124
2,3,1810,7239881,178445,0.0246
3,4,1820,9633822,208526,0.0216
4,5,1830,12866020,378545,0.0294
5,6,1840,17069458,833371,0.0488
6,7,1850,23191876,1423351,0.0614
7,8,1860,31443321,1969377,0.0626
8,9,1870,38558371,3421198,0.0887
9,10,1880,50155783,5790678,0.1154
10,11,1890,62979766,11547127,0.1833
11,12,1900,76303387,11854000,0.1554
12,13,1910,91972266,15968000,0.1707
13,14,1920,105710620,25117000,0.2376
14,15,1930,122775046,40156000,0.3271
15,16,1940,131669275,67527000,0.5129
16,17,1950,151325798,91462000,0.6044
17,18,1960,179323175,127934000,0.7134
18,19,1970,203302031,247653000,1.2200
19,20,1980,226542199,1078488000,4.7600
20,21,1990,248718301,2492830000,10.0200
21,22,2000,281421906,4500000000,15.9900
22,23,2010,308745538,13000000000,42.1100

### Dropping "Observation Number":

In [28]:
df.drop(columns=["Observation Number"], inplace=True)
df

,Cleansed Year,Cleansed Population,Cleansed Cost,Cleansed Average Cost Per Person
0,1790,3929214,44377,0.0113
1,1800,5308483,66109,0.0124
2,1810,7239881,178445,0.0246
3,1820,9633822,208526,0.0216
4,1830,12866020,378545,0.0294
5,1840,17069458,833371,0.0488
6,1850,23191876,1423351,0.0614
7,1860,31443321,1969377,0.0626
8,1870,38558371,3421198,0.0887
9,1880,50155783,5790678,0.1154
10,1890,62979766,11547127,0.1833
11,1900,76303387,11854000,0.1554
12,1910,91972266,15968000,0.1707
13,1920,105710620,25117000,0.2376
14,1930,122775046,40156000,0.3271
15,1940,131669275,67527000,0.5129
16,1950,151325798,91462000,0.6044
17,1960,179323175,127934000,0.7134
18,1970,203302031,247653000,1.2200
19,1980,226542199,1078488000,4.7600
20,1990,248718301,2492830000,10.0200
21,2000,281421906,4500000000,15.9900
22,2010,308745538,13000000000,42.1100

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=60ef67e3-efc2-49f2-bf21-473ea625ba5d' target="_blank">
<img style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>